*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.nav{
	background-color: #FFF;
	/*padding: 20px 0px;*/
	height: 10vh;
	display: grid;
	grid-template-columns: repeat(2, 40%);
	position: relative;
	overflow: hidden;
}
.rtn-btn{
	padding: 0px 30px;
}
.rtn-btn a{
	text-decoration: none;
	color: black;
	padding: 30px 40px;
	border: 1px solid transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
}
.rtn-btn a:hover{
	transition: all 0.2s linear;
	background-color: #C3C3C9;
	border-radius: 2px;
}
.title h2{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}



.container{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	height: auto;
}
.row{
	padding: 30px;
	display: grid;
	grid-template-columns: repeat(3, 30vw);
	justify-content: space-evenly;
}
.news{
	background-color: white;
	border-radius:10px;
	display: grid;
	grid-template-rows: 70% 30% ;
	overflow: hidden;
	margin: 10px 0px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.news:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.img{
	overflow: hidden;
}
.img img{
	width: 30vw;
}
.detail{
	position: relative;
}
.detail .text{
	top: 50%;
	transform: translateY(50%);
	text-align: center;
}