
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Raleway;
	color: black;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}

/*-----------NAV BAR STYLING----------*/
.nav-bar{
	background-color: white;
	height: 85px;
	position: relative;
}
.nav-conatiner{
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(2, auto);
}
.web-logo{
	position: absolute;
	top: 60%;
	transform: translateY(-60%);
}
.web-logo img{
	height: 40px;
}
.nav-links{
	position: absolute;
	top:50% ;
	transform: translateY(-60%);
	right: 2%;
}
.nav-lists{
	list-style: none;
}
.nav-link{
	border: 3px solid transparent;
	display: inline;
	padding: 5px 5vh;
	transition: all 0.4s linear;
}
.nav-link a{
	text-decoration: none;	
}
#sign-up-icon{
	margin: 3px 10px;
	display: inline;
	padding: 5px 0vh;
}
.material-icons{
	transform: translateY(30%);
}
.nav-link:hover{
	border-bottom: 3px solid black;
	border-radius: 5px;
}

/*sign up section*/
.signup{
	display: none;
	background-color: white;
	position: fixed;
	top: 85px;
	right: 0px;
	z-index: 4;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form{
	height: 300px;
	width: 250px;
	padding: 10px 20px;
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-gap: 10px;
	align-content: space-around;
}
.input-field{
	padding: 4px;
	border: none;
	outline: none;
	border-bottom: 2px solid black;
}
.submit-btn{
	padding: 20px 0px;
	border: none;
	color: white;
	background-color: black;
}
.sign-in{
	text-align: center;
	font-size: 14px;
}
/*-----------NAV BAR STYLING END----------*/



/*intro page*/
#slider{
	overflow: hidden;
}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation : 5s slider infinite;
}
#slider figure img{
	width:20%;
	float : left;
}


/*intro page end*/
.products{
	background-color: white;
}
.container{
	margin: 0px 80px;
	padding: 20px 0px;
}
.products-title{
	padding: 40px;
	text-align: center;
}
.products-title h1{
	font-size: 50px;
}
.row{
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 10px;
	/*justify-content: space-evenly;*/
}
.product{
	padding: 30px ;
	text-align: center;
}
.product:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.product-img img{
	width: 396px;
	height: 216px;
}
.product-details{
	padding: 20px;
}
.Buy-btn{
	margin-top: 30px;
}
.Buy-btn a{
	border-radius: 30px;
	padding: 20px 40px;
	background-color: black;
	color: white;
}
.Buy-btn a:hover{
	transition: all 0.2s linear;
	background-color: rgb(50, 50, 50);
}
/*<!-- our products section -->*/


/*footer and links*/

.footer-row{
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-around;
}
.footer-col{
	border: 1px solid white;
}
/*footer end*/